# Louisville Free Public Library

Analysis of Louisville Free Public Library collection inventory.

Data Source: [Louisville Metro Open Data](https://data.louisvilleky.gov/datasets/LOJIC::louisville-metro-ky-library-collection-inventory-/about)

## Data Dictionary
- **BibNum** - The unique identifier of a bibliographic record within our materials database. Materials with the same bibliographic # will generally have the same cataloging metadata, differing only in the barcode number, assigned location and anything else specific to the individual copy.
- **Title** - The name of the material.
- **Author** - The writer or creator of the material.
- **ISBN** - The International Standard Book Number is a numeric commercial book identifier that is intended to be unique. Publishers purchase ISBNs from an affiliate of the International ISBN Agency. An ISBN is assigned to each separate edition and variation of a publication. 
- **Publication Year** - The year that the material was originally published.
- **Item Type** - Describes the type of material of each item, including Books, Audiobooks, Serials, DVDs, Microforms, Three Dimensional Objects, Kits, and Printed Cartographic Materials. 
- **Item Collection** - Refers to the collection the material belongs to based on common themes, including but not limited to Adult Fiction, Adult Reference, Mystery, Children’s Fiction, etc.  
- **Item Location** - The library location where the material was assigned at the time the report was run.
- **Item Price** – The price, in USD, that LFPL purchased the material for. 

## Data Exploration

In [2]:
#Load the data
import pandas as pd
books_df = pd.read_csv('books.csv.gz')

In [5]:
#List the column names
books_df.columns

Index(['BibNum', 'Title', 'Author', 'ISBN', 'PublicationYear', 'ItemType',
       'ItemCollection', 'ItemLocation', 'ItemPrice', 'ReportDate'],
      dtype='object')

In [13]:
display(books_df.columns)

Index(['BibNum', 'Title', 'Author', 'ISBN', 'PublicationYear', 'ItemType',
       'ItemCollection', 'ItemLocation', 'ItemPrice', 'ReportDate'],
      dtype='object')

In [14]:
print(books_df.columns)

Index(['BibNum', 'Title', 'Author', 'ISBN', 'PublicationYear', 'ItemType',
       'ItemCollection', 'ItemLocation', 'ItemPrice', 'ReportDate'],
      dtype='object')

In [6]:
#Get the number of rows and columns
books_df.shape

(1190176, 10)

In [9]:
#List the data types of the columns
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190176 entries, 0 to 1190175
Data columns (total 10 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   BibNum           1190176 non-null  int64
 1   Title            1190175 non-null  object
 2   Author           1124225 non-null  object
 3   ISBN             1153891 non-null  float64
 4   PublicationYear  1190176 non-null  int64
 5   ItemType         1190176 non-null  object
 6   ItemCollection   1190036 non-null  object
 7   ItemLocation     1190176 non-null  object
 8   ItemPrice        1190176 non-null  float64
 9   ReportDate       1190176 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 90.8+ MB

In [10]:
#Get the # of missing records per column
books_df.isnull().sum().sort_values(ascending=False)

Author             65951
ISBN               36285
ItemCollection       140
Title                  1
BibNum                 0
PublicationYear        0
ItemType               0
ItemLocation           0
ItemPrice              0
ReportDate             0
dtype: int64

In [12]:
#Preview the data
books_df.head()   # or books_df

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,02/01/2023 00:00:00
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00

In [6]:

#Preview the data
books_df.head(10)   # or books_df

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,02/01/2023 00:00:00
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
5,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
6,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Newburg,19.99,02/01/2023 00:00:00
7,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
8,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,South Central,19.99,02/01/2023 00:00:00
9,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00

In [7]:
books_df

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,02/01/2023 00:00:00
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1190171,2608597,25 ready-to-use sustainable living programs fo...,NaN,9.780839e+12,2022,Book,Adult Non-Fiction,South Central,63.69,02/01/2023 00:00:00
1190172,2608598,Crypto basics : a nontechnical introduction to...,"Gomzin, Slava",9.781484e+12,2022,Book,Adult Non-Fiction,Bon Air,30.09,02/01/2023 00:00:00
1190173,2608598,Crypto basics : a nontechnical introduction to...,"Gomzin, Slava",9.781484e+12,2022,Book,Adult Non-Fiction,Newburg,30.09,02/01/2023 00:00:00
1190174,2608599,Data governance,"Reichental, Jonathan",9.781120e+12,2023,Book,Adult Non-Fiction,Main,24.34,02/01/2023 00:00:00
1190175,2608599,Data governance,"Reichental, Jonathan",9.781120e+12,2023,Book,Adult Non-Fiction,St Matthews,24.34,02/01/2023 00:00:00

In [21]:
#Preview the data
books_df.tail()

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
1190171,2608597,25 ready-to-use sustainable living programs fo...,NaN,9.780839e+12,2022,Book,Adult Non-Fiction,South Central,63.69,02/01/2023 00:00:00
1190172,2608598,Crypto basics : a nontechnical introduction to...,"Gomzin, Slava",9.781484e+12,2022,Book,Adult Non-Fiction,Bon Air,30.09,02/01/2023 00:00:00
1190173,2608598,Crypto basics : a nontechnical introduction to...,"Gomzin, Slava",9.781484e+12,2022,Book,Adult Non-Fiction,Newburg,30.09,02/01/2023 00:00:00
1190174,2608599,Data governance,"Reichental, Jonathan",9.781120e+12,2023,Book,Adult Non-Fiction,Main,24.34,02/01/2023 00:00:00
1190175,2608599,Data governance,"Reichental, Jonathan",9.781120e+12,2023,Book,Adult Non-Fiction,St Matthews,24.34,02/01/2023 00:00:00

### Column Analysis

In [22]:
#For each categorical column, list the unique values and the number of occurrences of each value.

books_df['ItemCollection'].unique()

array(['Adult Non-Fiction', 'Adult Fiction', 'Mystery',
       'Older Teen Fiction', 'Younger Teen  Fiction', 'Adult Paperback',
       'Science Fiction', "Children's Fiction", 'Western',
       "Children's Picture Paperback", "Children's Paperback",
       "Children's Picture Book", 'International Collection',
       'ELL Collection', 'Teen Non-Fiction', "Children's Non-Fiction",
       'Holiday', 'Natural Resources', 'Kentucky History', 'Oversize',
       'Urban Fiction', 'Bestsellers', 'Storytime Collection',
       "Children's Board Book", "Children's Easy Reader",
       'Preschool  Picture Book', 'Adult Reference', 'Interlibrary Loan',
       nan, 'Adult Paperbacks Tall', "Children's Easy Reader Paperback",
       'Caldecott/Newbery', 'Laptop', 'Government Documents',
       'Large Print', 'Telereference', "Children's Non-Fiction Paperback",
       'Big Book', "Children's Reference", 'Teen Reference',
       'College Shop', 'Magazines and Newspaper',
       'Younger Teen  Paperback', 'Younger Teen  Audiobook', 'Readalongs',
       'Listening Device', 'Adult Audiobook', 'Electronic',
       "Children's Music", 'Adult DVD', 'Music', 'Book Discussion Kit'],
      dtype=object)

In [23]:
books_df['ItemCollection'].value_counts()

Adult Non-Fiction                   371433
Adult Fiction                       177604
Children's Non-Fiction               86356
Mystery                              60314
Children's Picture Book              59348
Preschool  Picture Book              51276
Children's Fiction                   48446
Adult Paperback                      45302
Children's Paperback                 45076
Children's Easy Reader               24511
Teen Non-Fiction                     24376
Older Teen Fiction                   23787
Children's Board Book                20057
Younger Teen  Fiction                17532
Kentucky History                     16962
Science Fiction                      16048
Children's Easy Reader Paperback     15959
Holiday                              15583
International Collection             15581
Adult Reference                      11197
Children's Picture Paperback          9731
Urban Fiction                         7601
Caldecott/Newbery                     6777
Storytime Collection                  4070
Government Documents                  3355
Oversize                              2252
Western                               2140
Bestsellers                           2122
ELL Collection                        1832
Natural Resources                     1505
Adult Paperbacks Tall                  757
Children's Reference                   541
Interlibrary Loan                      168
Laptop                                 101
Big Book                                94
Children's Non-Fiction Paperback        67
Large Print                             59
Readalongs                              38
College Shop                            18
Listening Device                        16
Telereference                           10
Teen Reference                           8
Younger Teen  Audiobook                  6
Magazines and Newspaper                  5
Adult DVD                                4
Electronic                               3
Music                                    2
Younger Teen  Paperback                  2
Adult Audiobook                          2
Children's Music                         1
Book Discussion Kit                      1
Name: ItemCollection, dtype: int64

In [3]:
books_df['ItemLocation'].value_counts()

Remote Shelving - Main       139987
Northeast                    124473
Southwest                    122113
Main                         121439
South Central                115837
Bon Air                       74730
St Matthews                   69531
Jeffersontown                 56706
Iroquois                      52382
Highlands - Shelby Park       45539
Crescent Hill                 42837
Childrens Main Library        38994
Middletown                    33120
Shively                       23623
Newburg                       23586
Fairdale                      23149
Shawnee                       22906
Western                       21648
Portland                      13334
Childrens Bookmobile           9129
Remote Shelving - Shawnee      9083
Main Teen                      6024
Content Management                4
Adult Bookmobile                  2
Name: ItemLocation, dtype: int64

In [4]:
books_df['Author'].unique()

array(['Magee, David, 1965-', 'Miller, Robin, 1964-', 'Stern, Jane.', ...,
       'Gabrielle, Lara, 1985-', 'Scheeres, Julia', 'Gomzin, Slava'],
      dtype=object)

In [5]:
books_df['Author'].value_counts()

Patterson, James, 1947-                 5856
Osborne, Mary Pope.                     2063
Steel, Danielle                         1824
Pilkey, Dav, 1966-                      1812
Seuss, Dr.                              1812
                                        ...
Sánchez Ferlosio, Rafael, 1927-2019       1
Pippen, Kitty, 1919-2018                   1
Adkins, Frank (Francis A.)                 1
Ray, James A.                              1
Kniffke, Sophie.                           1
Name: Author, Length: 187472, dtype: int64

In [19]:
#Numeric Data can be used in calculations.
# .ItemPrice

books_df['ItemPrice'].describe()

count    1.190176e+06
mean     1.845097e+01
std      1.599772e+01
min      0.000000e+00
25%      1.095000e+01
50%      1.599000e+01
75%      2.495000e+01
max      1.077000e+03
Name: ItemPrice, dtype: float64

In [20]:
books_df['PublicationYear'].describe()

count    1.190176e+06
mean     2.004264e+03
std      1.017756e+02
min      0.000000e+00
25%      2.005000e+03
50%      2.014000e+03
75%      2.018000e+03
max      9.999000e+03
Name: PublicationYear, dtype: float64

In [24]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
books_df['PublicationYear'].describe()

count   1190176.00
mean       2004.26
std         101.78
min           0.00
25%        2005.00
50%        2014.00
75%        2018.00
max        9999.00
Name: PublicationYear, dtype: float64